<div class="center">
  <h1 class="text-green">Biolumino.us</h1>
  <%= image_tag "viperfish_deadly_deep_predator4.jpg" %>
  <h2 class="text-green">Games</h2>
  <%= link_to "Gather", "https://drive.google.com/open?id=0B8oXVbHh5bEwUEJ5LXJOR2pMenM", class: "text-green" %>
</div>
