<div class="center">
  <h1 class="text-green">Biolumino.us</h1>
  <%= image_tag "viperfish_deadly_deep_predator4.jpg" %>
  <h2 class="text-green">Games</h2>
  <%= link_to "Gather", gather_path, class: "text-green" %>
  <%= link_to "Hunt", "https://rmtsukuru.itch.io/hunt", class: "text-green" %>
  <h2 class="text-green">Tabletop</h2>
  <%= link_to "Libram Auto-Roller", libram_path, class: "text-green" %>
</div>
