<div class="center">
  <h2 class="text-green">Games</h2>
  <p><%= link_to "Gather", gather_path, class: "text-green" %></p>
  <p><%= link_to "Hunt", "https://rmtsukuru.itch.io/hunt", class: "text-green" %></p>
</div>
