// Place all the styles related to the insults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#insults {
    background-color: #eee;
    color: #000;
    position: absolute;
    min-width: 98%;
    min-height: 96%;
    padding-left: 10px;
    padding-top: 10px;
}

#insults {
}
